
/***************/
/**** RESET ****/
/***************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }

/****************/
/***** BODY *****/
/****************/

body {
    background-color: #f6f8f9;
    font-family: Arial;
}

header {
    font-size: 20px;
    height: 70px;
    background-color: #FFFFFF;

}

/*************************/
/***** UPPER SECTION *****/
/*************************/

.header-logo {
    display: inline-block;
    padding: 10px 0px 10px 10px;
    vertical-align: bottom;
}

.upper-section {
    height: 50px;
    background-color:  #FFFFFF;
    margin: 40px 170px 2px 170px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.upper-buttons {
    height: 30px;
    width: 75px;
    text-align: center;
    font-size: small;  
    border-radius: 5px; 
    padding-top: 5px;
    margin-top: 10px;
}

#upper-button1 {
    display: inline-block;
    color: #FFFFFF;
    background-color: #14aaf5;
    margin-left: 30px;
    
}

#upper-button2 {
    display: inline-block;
    color: #c4cbd0;
    border: 1px solid #c4cbd0;
}

/*************************/
/****** DOWN SECTION *****/
/*************************/

span {
    display: inline-block;
}

.down-section {
    background-color: #FFFFFF;
    margin: 0 170px 0 170px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.task-list {
    padding-top: 20px;
    margin-left: 50px;
    font-weight: bold;
    margin-bottom: 10px;
}

.task-mark-check {
    color: #008000;
    text-align: center;
    margin-left: 50px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid #008000;
    display: inline-block;
}

.task-mark--not-check {
    color: #800000;
    text-align: center;
    margin-left: 50px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid #800000;
    display: inline-block;
}

.task-flags {
    display: inline-block;
    padding: 5px 15px 5px 15px;
    text-align: center;
    font-size: small;  
    border-radius: 15px; 
    color: #FFFFFF;
    background-color: #14aaf5;
    margin-left: 5px;
    font-weight: bold;
}